//====================================================================================================

.top-header{
	background-color: $mainDarkColor;
	color: #fff;
	padding: rem(10) 0;

  &__container{
    display: flex;
    align-items: center;
	gap: rem(20);
	min-height: rem(50);

    @media (max-width: $tablet) {
	  gap: rem(30);
    }
  }

  &__menu{
    flex: 1 1 auto;
  }

  &__user{
	  display: inline-flex;
	  align-items: center;
	  position: relative;
	  z-index: 5;
	  font-weight: 600;
	  line-height: math.div(22, 18);
	  gap: em(15, 28);

	  &::before{
		  font-size: rem(28);
	  }

	  @media(any-hover: hover) {
		  &:hover{
			 span{
				 text-decoration: underline;
			 }
		  }
	  }
	  @media (max-width: $tablet) {

		  &::before{
			  font-size: rem(35);
		  }

		  span{
			  display: none;
		  }
	  }
  }
}

.menu-top-header{
	&__list{
		display: flex;
		flex-wrap: wrap;
		row-gap: rem(5);
		@include adaptiveValue('column-gap', 60, 20);
		
		@media (max-width: $tablet) {
			flex-direction: column;
			row-gap: 25px;
		}
	}

	&__item{

		&--catalog{
			@media (min-width: $tablet) {
				display: none;
			}
		}
	}

	&__link{
		font-size: rem(16);
		line-height: math.div(20, 16);

		@media(any-hover: hover) and (min-width: $tablet) {
			&:hover{
				text-decoration: underline;
			}
		}

		&--catalog{
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;

			&::before{
				transform: rotate(-90deg);
				font-size: rem(12);
				width: 14px;
				height: 14px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 30, 20, 0, 992, 320)
		}
	}

	@media (max-width: $tablet) {
		display: none;
	}
}

//====================================================================================================

.body-header {
	padding: rem(10) 0;
	background-color: #ECF1F2;

	&__container {
		display: flex;
		align-items: center;
		min-height: rem(50);
	}

	&__logo {
		@extend %ic;
		@extend ._icon-logo;
		font-size: rem(42);
		color: $mainDarkColor
	}

	&__search {
		flex: 1 1 auto;

		@media (max-width: $mobileSmall) {
			padding:0 12px;
		}

		@media (min-width: $tablet) {
			padding-right: rem(20);
		}
		
		@media (min-width: $mobileSmall) {
			@include adaptiveValue("padding-left", 158, 20, 0, 1600, 1400);
			padding:0 12px;
		}
	}
}

//Header Search Block
.search-header {
	max-width: rem(377);
	background-color: rgba(7, 7, 7, 0.03);
	border: rem(1) solid rgba(4, 4, 4, 0.5);
	border-radius: rem(3);
	position: relative;

	&__button {
		position: absolute;
		background-color: transparent;
		width: rem(41);
		height: rem(41);
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		left: rem(8);
		font-size: rem(14);
		color: rgba(0, 0, 0, 0.5);
	}

	&__input {
		width: 100%;
		background-color:transparent;
		color: $mainColor;
		padding: 0 rem(20) 0 rem(50);
		border-radius: rem(3);
		height: rem(41);

		&::placeholder{
			color: rgba(0, 0, 0, 0.5);
		}
	}

	@media (max-width: $tablet) {
		max-width: initial;
	}
	
	@media (max-width: $mobileSmall) {
		background-color: #fff;
	}
}

//Header Actions Block

.actions-header {
	display: flex;
	align-items: center;
	column-gap: rem(30);
	@include adaptiveValue("column-gap", 30, 20, 0, 1620, 1200);

	&__location {
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		margin-right: rem(25);
		@include adaptiveValue("margin-right", 25, 0, 0, 1620, 1250);

		&::before{
			font-size:rem(24);
			margin-right: em(10, 24);
		}

		@media(any-hover: hover) {
			&:hover{
				span {
					text-decoration: underline;
				}
			}
		}

		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__favourite {
		position: relative;
		z-index: 5;
		font-size: rem(27);
	}
}

.phones-header {
	position: relative;
	z-index: 5;

	&__item {
		position: relative;
		display: flex;
	}

	&__phone {
		font-weight: 600;
		line-height: math.div(22, 18);
		white-space: nowrap;

		&::before{
			@extend %ic;
			@extend ._icon-footer-phone;
			display: none;
		}

		@media (max-width: $tablet) {
			font-size: rem(25);
		}
		
		@media (max-width: $mobileSmall) {
			&::before{
				display: block;
				font-size: rem(32);
			}

			span{
				display: none;
			}
		}
	}

	&__arrow {
		color: $mainOrange;
		font-size: rem(10);
		margin: 0 0 0 em(17, 16);
		transition: transform .3s ease 0s;

		&._spoller-active{
			transform: rotate(-180deg);
		}

		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__list {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 2;
		width: 100%;
		background-color: #fff;
		padding: rem(15);
		border-radius: rem(10);
		margin: rem(5) 0 0 0;
		box-shadow: 0 0 rem(5) rgba(0, 0, 0, .2);

		li:not(:last-child){
			margin-bottom: em(5, 18);
		}

		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__callback {
		margin: rem(3) 0 0 0;
		font-weight: 600;
		color: $mainOrange;
		line-height: math.div(22, 18);

		@media(any-hover: hover) {
			&:hover{
				text-decoration: underline;
			}
		}

		@media (max-width: $tablet) {
			display: none;
		}
	}
}


.cart-header {
	display: flex;
	align-items: center;
	column-gap: rem(15);
	position: relative;
	z-index: 5;

	&__icon {
		flex: 0 0 rem(33);
		font-size: rem(33);
		position: relative;

		span{
			position: absolute;
			top: 0;
			right: 0;
			width: rem(14);
			height: rem(14);
			background-color: $mainOrange;
			font-size: rem(8);
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
		}
	}

	&__body {
		line-height: math.div(20, 16);
		font-size: rem(16);
		
		@media(max-width: em(1250)) {
			display: none;
		}
	}

	&__sum {
		font-weight: 500;
		margin-bottom: em(5, 16);
	}

	&__link {
		color: $mainOrange;

		@media(any-hover: hover) {
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.catalog-header {
	background-color: $mainDarkColor;
	color: #fff;
	position: relative;

	&__container {
		padding: 0;
	}

	@media (max-width: $mobileSmall) {
		padding: 20px 0;
	}
}

.menu{
	&__body{

		@media(max-width: $tablet) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			overflow: auto;
			background-color: $mainDarkColor;
			padding:rem(80) rem(15) rem(50) rem(15);
			transition: .3s all ease 0s;
			z-index: 4;

			&::before{
				content: "";
				position: fixed;
				top: 0;
				left: -100%;
				z-index: 2;
				width: 100%;
				height: 70px;
				background-color: $mainDarkColor;
			}

			.menu-open & {
				left: 0;

				&::before{
					left: 0;
				}
			}
		}
	}

	@media(max-width: $tablet){
		display: flex;
		justify-content: flex-end;
		flex: 1 1 auto;
	}
}

.menu-catalog {
	&__list {
		display: flex;
		justify-content: space-between;
		column-gap: rem(15);
		padding:0;
		
		@media (max-width: $tablet) {
			flex-direction: column;
			row-gap: rem(25);
		}
	}

	&__link {
		display: flex;
		position: relative;
		transition: .3s color ease;

		&[data-parent]{

			&::before{
				@extend %ic;
				@extend ._icon-arrow-down;
				display: none;
				@media (max-width: $tablet) {
					transform: translateY(rem(5)) rotate(-90deg);
					display: block;
					font-size: rem(10);
				}
			}
			
			@media (max-width: $tablet) {
				display: flex;
				width: 100%;
				flex-direction: row-reverse;
				justify-content: space-between;
			}
		}

		@media (min-width: $tablet) {
			align-items: center;
			text-align: center;
			padding: 0 rem(10);
			min-height: rem(70);
		}

		&::after{
			content: '';
			position: absolute;
			opacity: 0;
			visibility: hidden;
			top: 100%;
			left: rem(10);
			width: calc(100% - rem(20));
			height: rem(2);
			padding: 0 rem(10);
			background-color: $mainOrange;
			transition: .3s all ease;
			z-index: 1;
		}

		@media(any-hover: hover) and (min-width: $tablet){
			&:hover{

				&::after{
					opacity: 1;
					visibility: visible;
				}
			}
		}

		@media (min-width: $tablet) {
			&._submenu-active{
				&::after{
					opacity: 1;
					visibility: visible;
				}
			}
		}

		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 30, 20, 0, 992, 320)
		}
	}

	&__submenu {
		top: 100%;
		left: 0;
		width: 100%;
		background-color: $mainDarkColor;

		&._submenu-show{
			opacity: 1;
			pointer-events: auto;
		}
	}

	&__back{
		display: none;

		@media (max-width: $tablet) {
			display: inline-flex;
			align-items: center;
			@include adaptiveValue("font-size", 30, 20, 0, 992, 320);
			&:not(:last-child){
				margin-bottom: em(65, 30);
			}
			&::before{
				margin: 0 em(13, 30) 0 0;
			}
		}
	}
	@media (max-width: $tablet) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $mainDarkColor;
		padding: rem(25) rem(15) rem(50) rem(15);
		transition: left .3s ease 0s;

		.catalog-open &{
			left: 0;
			z-index: 6;
		}
	}
}

.submenu-catalog {

	@media (max-width: $tablet) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $mainDarkColor;
		padding: rem(25) rem(15) rem(50) rem(15);
		transition: left .3s ease 0s;

		.submenu-open & {
			left: 0;
			z-index: 6;
			display: block;
		}
	}

	&__block {
		display: none;
		padding: 0 rem(10) rem(30) rem(10);

		@for $var from 1 to 6{
			&--#{$var}{
				justify-content: start;
				grid-template-columns: repeat($var, minmax(auto, rem(320)));
			}
		}

		&._submenu-opened{
			display: grid;
			
			@media (max-width: $tablet) {
				display: block;
			}
		}
	}

	&__container{
		padding: 0;
	}

	&__column {
		flex: 0 1 rem(320);
		display: flex;
		flex-direction: column;
	}

	&__category {
		display: flex;
		font-size: rem(16);
		line-height: math.div(20, 16);

		@media(any-hover: hover) {
			&:hover{
				text-decoration: underline;
			}
		}

		@media (min-width: $tablet) {
			padding: rem(30) rem(15) rem(30) 0;
			font-weight: 700;
		}

		@media (max-width: $tablet) {
			&:not(:last-child){
				margin-bottom: em(25,16);
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: rem(30) rem(15) rem(30) 0;
		border-top: rem(1) solid rgba(255, 255, 255, 0.3);
		border-bottom: rem(1) solid rgba(255, 255, 255, 0.3);
		
		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__link {
		font-size: rem(16);
		line-height: math.div(20, 16);

		@media(any-hover: hover) {
			&:hover{
				text-decoration: underline;
			}
		}
	}

	&__link-category{
		@include adaptiveValue("font-size", 30, 20, 1, 992, 320);
	}

	&__footer{
		margin-top: rem(30);
		padding-right: rem(15);

		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__all {
		font-weight: 500;
		font-size: rem(16);
		line-height: math.div(29, 16);
		color: #E8AA31;

		@media(any-hover: hover) {
			&:hover{
				text-decoration: underline;
			}
		}
	}

	&__back{
		display: none;

		@media (max-width: $tablet) {
			display: inline-flex;
			align-items: center;
			@include adaptiveValue("font-size", 30, 20, 0, 992, 320);
			&:not(:last-child){
				margin-bottom: em(65, 30);
			}
			&::before{
				margin: 0 em(13, 30) 0 0;
			}
		}
	}
}

//Burger

.icon-menu {
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(40);
		flex:0 0 rem(40);
		height: rem(22.5);
		z-index: 10;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

